@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center alert alert-dark" >
        <h1 class="display-4">Accommondation System</h1>
    </div>
    <div class="jumbotron">
        <h5>System Status/Health/Notice Dashboard:</h5>
        <ul>

     
        </ul>
    </div>


