@model AMS.Models.ReservationVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomList)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a> <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
